<!-- Decrease quantity counter button -->
<button
    click="decreaseQty"
    class="product-qty-decr"
    onmousedown="this.style.backgroundColor = 'grey'"
    onmouseup="this.style.backgroundColor = 'white'"
>
    -
</button>

<!-- Quantity counter input -->
<input data-bind="value: qty(), attr: {'data-validate': getDataValidator(), 'title': $t('Qty')}"
       type="number"
       name="qty"
       id="qty"
       maxlength="12"
       class="product-qty-input" />

<!-- Increase quantity counter button -->
<button
    click="increaseQty"
    class="product-qty-incr"
    onmousedown="this.style.backgroundColor = 'grey'"
    onmouseup="this.style.backgroundColor = 'white'"
>
    +
</button>

